:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}

.content {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-size: large;
}
