/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}

.dialog-content {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-size: large;
}

.dialog-actions {
  width: 100%;
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.dialog-actions button {
  min-width: 120px;
}
