/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialog-actions {
  width: 100%;
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.dialog-actions button {
  min-width: 120px;
}
